<div id="page-wrapper" style="background: #f8f8f8">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="pageHeader">主页</h4>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div id="container" class="clearfix">

        </div>
    </div>

    <!---->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modalContent">
                <div class="modal-header modalHeader">
                    <h4 class="modal-title" id="myModalLabel">温馨提示</h4>
                </div>
                <div class="modal-body">
                    确定将 <span class="modalUser">张三（232198198802035673）</span> 的电子加油卡置为暂停使用状态？
                </div>
                <div class="modal-body">
                    手机号：<span>1381199273</span>
                </div>
                <div class="modal-body">
                    备用金：<span>5000.00元</span>
                </div>
                <div class="modal-body">
                    卡余额：<span>0.00元</span>
                </div>
                <div class="modal-footer modalFooter">
                    <div class="modalBtnBox">
                        <button type="button" class="btn btn-def modalBtn pull-left" data-dismiss="modal">取消
                        </button>
                        <button type="button" class="btn btn-bul modalBtn">确定</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>